.card {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 8px #BEBEBE;
    overflow: hidden;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.card figcaption {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.category {
    background-color: rgb(100, 149, 240);
    color: #FFF;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: fit-content;
}

.date {
    background-color: rgb(190, 190, 190);
    color: #FFF;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: fit-content;
}